@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Quentin";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/Quentin.ttf");
}
@font-face {
  font-family: "TrainOne";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/TrainOne-Regular.ttf");
}
