:root {
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "TrainOne", sans-serif;
  --ff-accent: "Quentin", sans-serif;

  --color-primary: #ff4e5b;
  --color-rgb-primary: 255, 78, 91;
  --color-secondary: #ffb930;
  --color-accent: #b154ff;
  --color-light: #ffffff;
  --color-dark: #000000;

  --grid-gap-sm: 0.5rem;
  --grid-gap: 1rem;
  --grid-gap-2: 2rem;
  --card-padding: 10px 15px;
  --specing-desktop: 130px;
  --specing-tablet: 80px;
  --specing-mobile: 60px;
  --title-specing-desktop: 60px;
  --title-specing-tablet: 60px;
  --title-specing-mobile: 40px;
}
